body
{
    margin: 0%;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(30, 30, 30); 
}

header{
    position: fixed;
    height: 5vh;
    width: 100%;
    background-color: rgb(40, 40, 40);
    border-bottom-right-radius: 1vh;
    border-bottom-left-radius: 1vh;
    box-shadow: 0px 10px 50px -10px rgba(0,0,0,0.5);
    
}

header .Headercontent{
    height: 5vh;
    text-align: center;
    vertical-align: middle;
    top: 50%;
    bottom: 50%;
}

header .Headercontent b {
    color:white;
    font-size: 3vh;
    margin-left: 1vh;
}

.HeaderTitle{

    width: 100%;
    float: left;
}

.RefreshIcon{

    width: 0%;
    float: right;
    height: 5vh;
}

#RefreshButton{
    background-color: transparent;
    border: none;
    size: 5vh;
    height: 5vh;
    margin-right: 1vh;
    float: right;
}

.RefreshIcon #RefreshButton img {

    width: 2.5vh;
    vertical-align: middle;
    float: right;

}


.CounterMain {
    margin: 5%;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 20vh;
    margin: auto;
}


.Number{
text-align: center;
font-size: 20vh;
color: white;
}

.MainButtons{
    text-align: center;
}

.MainButtons .MainButton {
    width: 13vh;
    height: 13vh;
    font-size: 5vh;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 1vh;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.52);
}

#Plus{
margin-right: 1vh;
}

#Minus{
margin-left: 1vh;
}

.MainButton{
    color:white;
    background-color: rgb(60, 60, 60);
}

.infobuttonbox{
    align-self: end;
    position: fixed;
    bottom:1.5vh;
    right:1.5vh;
}


.infobutton{
    color:white;
    background-color: rgb(60, 60, 60);
    margin: 2%;
    width: 8vh;
    height: 8vh;
    font-size: 4vh;
    border: none;
    border-radius: 20vh;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.52); 
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.52);
}